@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <hgroup class="title">
        <h1>Contact</h1>
    </hgroup>
    <section class="contact">
        <header>
            <h3>Phone:</h3>
        </header>
        <p>
            <span class="label">Main:</span>
            <span>0371 5310</span>
        </p>
        <p>
            <span class="label">After Hours:</span>
            <span>110</span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Email:</h3>
        </header>
        <p>
            <span class="label">Support:</span>
            <span><a href="mailto:eiffeltowercarsharing@gmail.com">Eiffeltowercarsharing@gmail.com</a></span>
        </p>
        <p>
            <span class="label">Marketing:</span>
            <span><a href="mailto:helga.bloed@example.com">Helga.Bloed@example.com</a></span>
        </p>
        <p>
            <span class="label">General:</span>
            <span><a href="mailto:info@example.com">Info@example.com</a></span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Address:</h3>
        </header>
        <p>
            Eiffeltower CarSharing AG<br />
            Straße der Nationen 62<br />
            09111 Chemnitz
        </p>
    </section>

<section>
    <header>
        <h3>Legal Information:</h3>
    </header>
    <p>
        <b>Eiffeltower CarSharing AG</b><br />
        Straße der Nationen 62<br />
        09111 Chemnitz
    </p>
    <p>
        Eiffeltower CarSharing AG is entered in the Register of Companies of NOWHERE Local Court under the no. HRB 9876.<br />
        VAT ID No. DE112233445
    </p>
    <p>
        <b>Executive Board:</b><br />
        Maria Shumbasova<br />
        Joram Markert<br />
        Ghanshyam Kachhdiya<br />
        Patric Leßmann (Scrum master)<br />
    </p>
    <p>
        THE INFORMATION CONTAINED IN THIS WEBSITE IS PROVIDED TO YOU "AS IS," FOR YOUR INTERNAL INFORMATIONAL PURPOSES ONLY, WITHOUT ANY REPRESENTATION OR WARRANTY OF ACCURACY OR COMPLETENESS OF INFORMATION OR OTHER WARRANTY OF ANY KIND, INCLUDING ANY IMPLIED WARRANTY OF QUALITY, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. IN NO EVENT WILL Eiffeltower CarSharing BE LIABLE TO ANY PARTY FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES FOR USE OF THIS WEBSITE OR RELIANCE UPON ANY INFORMATION OR MATERIAL ACCESSED VIA IT OR ANY OTHER HYPERLINKED WEBSITE INCLUDING, BUT NOT LIMITED TO, DAMAGES ARISING FROM LOSS OF PROFITS, BUSINESS INTERRUPTION, OR LOSS OF DATA, EVEN IF Eiffeltower CarSharing IS EXPRESSLY ADVISED ABOUT THE POSSIBILITY OF SUCH DAMAGES, TO THE FULLEST EXTENT ALLOWABLE BY LAW. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES AND REPRESENTATIONS, SO THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU.
    </p>
</section>