@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search Page</title>
</head>
<body>
    <h2>Search Page</h2>
    @using (Html.BeginForm("SearchResult","Home", FormMethod.Get))
    {
        <div class="row">
            <div class="searchSection">
                Pickup
                @{var pickupDateTime = DateTime.Today.AddDays(1.5);}
                <div class="row">
                    <div class="cell"><input type="search" id="pickupLocation" name="pickupLocation" placeholder="pickup location" autofocus required /></div>
                </div>
                <div class="row">
                    <div class="cell"><input type="date" id="pickupDate" name="pickupDate" value="@pickupDateTime.ToString("yyyy-MM-dd")" required /></div>
                    <div class="cell"><input type="time" id="pickupTime" name="pickupTime" value="@pickupDateTime.ToString("HH:mm")" /></div>
                </div>
            </div>
            <div class="searchSection">
                Return
                @{var returnDateTime = pickupDateTime.AddDays(1.25);}
                <div class="row">
                    <div class="cell"><input type="search" id="returnLocation" name="returnLocation" placeholder="return location" /></div>
                </div>
                <div class="row">
                    <div class="cell"><input type="date" id="returnDate" name="returnDate" value="@returnDateTime.ToString("yyyy-MM-dd")" /></div>
                    <div class="cell"><input type="time" id="returnTime" name="returnTime" value="@returnDateTime.ToString("HH:mm")" /></div>
                </div>
            </div>
        </div>
        <input type="submit" value="Search" />
    }
</body>
</html>
