
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search Page</title>
</head>
<body>
    <h1>Search Page.</h1>
    <div id="search_form">
        <p class="name">Country</p>
        <select class="drop_down">
            <option value="">Germany</option>
            <option value="">Ukraine</option>
            <option value="">India</option>
            <option value="">USA</option>
        </select>

        <p class="name">City</p>
        <select class="drop_down">
            <option value="">Chemnitz</option>
            <option value="">Kiev</option>
            <option value="">Deli</option>
            <option value="">New York</option>
        </select>

        <p class="name">Location</p>
        <select class="drop_down">
            <option value="">????</option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>

        <input class="" value="Start parking position"></input>
        <button class="google_maps">Google Map</button>
        <input class="" value="End parking position"></input>
        <button class="google_maps">Google Map</button>

        <input class="" value="Pick Up date"></input>
        <button class="calender">Calender</button>
        <input class="" value="Drop Off date"></input>
        <button class="calender">Calender</button>
        <input class="" value="Time"></input>
        <button class="calender">Time</button>
        <input class="" value="Time"></input>
        <button class="calender">Time</button>

        <p class="name">Car</p>
        <select class="drop_down"></select>
        <p class="name">Number of seats</p>
        <select class="drop_down"></select>
        <p class="name">Class</p>
        <select class="drop_down"></select>
        <p class="name">Price</p>
        <select class="drop_down"></select>

        <button class="search_button">Search</button>        
    </div>
</body>
</html>
