
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<b>Error 404</b> - This site does not exist...
<p>You should not have arrived here! Did you manipulate the URL manually??? ;-)</p><br /><br />
@Html.ActionLink("Back to Homepage", "Index", "Home")